<h2 class="section-title">{{ .titles.coc }}</h2>

<p itemprop="description">Cloud Native Day is dedicated to providing a harassment-free experience for participants and
    sponsors. The open exchange of ideas, projects and expression is explicitily encouraged and fostered in an
    environment that inherently recognises the value of every person, group, association or business. No one attending
or partecipating in the Cloud Native Day Amsterdam shall engage in any form or harrassment or discrimination; a
professional conduct is expected by attendess, volunteers, speakers, sponsors, exhibitors and any other individual and
company associated with Cloud Native Day. Any report of harassment at one of our events will be addressed immediately.
Participants asked to stop any harassing behavior are expected to comply immediately. Anyone who witnesses or is
subjected to unacceptable behavior should notify a conference organizer at once.
</p>
<p>Exhibitors should not use sexualized images, activities, or other material in their booths and must refrain from the
    use of sexualized clothing, uniforms, costumes, or otherwise creating a sexualized environment. Speakers should not
    use sexual language, images, or any language or images that would constitute harassment as defined above in their
    talks.</p>