<nav id="nav">
  <ul class="wrapper">
    {{ range $section := $.Site.Params.Sections }}
    <li class="nav-item">
      <a href="#{{ $section }}" target="_blank" title="{{ index $.Site.Params.Titles $section }}" class="nav-link">
        {{ index $.Site.Params.Titles $section }}
      </a>

    </li>
    {{ end }}
  </ul>

  <a class="nav-share-twitter" href="https://twitter.com/cloudnativeams"><img src=img/header_twitter.svg> </a> <a
      class="nav-share-instagram" href="https://www.instagram.com/cloudnativeams"><img src=img/header_instagram.svg>
      </a> <a class="nav-share-slack" href="http://slack.k8s.io/"><img src=img/header_slack.svg>
       </a>
</nav>